@page "/"

<h1>Hello, stranger!</h1>

This app has been developed as a Blazor test ground.<br />
The current components are a ToDo list and a ChatRoom. More components coming soon. <br />
(For the full experience, open the Chat Room in 2 browser tabs to use 2 different users)